{% extends 'base.html' %}
{% load static %}
{% comment %} {% extends 'base.html' %}

<!-- page title -->
{% block title %} Login {% endblock %}

<!-- page content -->
{% block content %}
<div class="container m-2">
  <form method="POST">
    {% csrf_token %}

    <!-- form variable -->
    {% include 'includes/form.html' %}

    <input type="submit" name="sumbit" value="Login" />
  </form>
</div>
{% endblock %} {% endcomment %}



{% block content %}

<div class="row">
  <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card mt-5">
        <div class="card-body">
          <div class="card-title py-3">
            <h4>Login to your  account</h4>
          </div>
            <form action="{% url 'accounts:login' %}" method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <input type="submit" value="Login">
            </form>
          </div>
        </div>
      </div>
    </div>
  <div class="col-md-4"></div>
</div>
{% endblock content %}
