{% extends 'base.html' %}

<!-- page title -->
{% block title %} Delete this account {% endblock %}

<!-- page nav -->
{% block navbar %} {% include 'navbar.html' %} {% endblock %}

<!-- page content -->
{% block content %}
<div class="row">
  <div class="col-2"></div>
    <div class="col-8">
      <div class="card mt-5 shadow">
        <div class="card-body">
          <div class="card-title py-3">
            {% if request.user.pk == user.pk %}
                <h2>Account deletion confirmation</h2>
                </div>
                    <form action="{% url 'accounts:profile_delete' user.pk %}" method="post" novalidate>
                    {% csrf_token %}
                    <p class="alert alert-danger" role="alert">
                        Are you sure you want to delete your account?
                    </p>
                    <input class=" btn btn-danger m-4 col-2 p-2" type="submit" value="Confirm">
                    </form>
                </div>
            {% else %}
              <h3 class="alert-danger danger p-5">action not allowed</h3>
            {% endif %}
        </div>
      </div>
    </div>
  <div class="col-2"></div>
</div>
{% endblock content %}
