{% extends 'base.html'%}


<!-- page title -->
{% block title %} Comment Report {% endblock %}

<!-- page nav -->
{% block navbar %} {% include 'navbar.html' %} {% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card my-5 col-5 shadow">
      <div class="card-body">
        <div class="card-title py-3">
          <h1>Report this comment</h1>
        </div>
        <div>
            <form method="post" action="{% url 'projects:report_comment' comment.pk %}" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html'%}
                <br>
                <div class="d-flex justify-content-center" >
                
                <input class="btn btn-danger ms-1" type="submit" value="Report">
                <a href="{% url 'projects:project_details' comment.project.pk %}" class="btn btn-primary ms-5" type="submit">Cancel</a>
             
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
    
{% endblock %}