{% extends 'base.html' %}

<!-- page title -->
{% block title %} Home {% endblock %}

<!-- page nav -->
{% block navbar %} {% include 'navbar.html' %} {% endblock %}


<!-- page content -->
{% block content %}
<div class="container-fluid">
  <div class="row mt-1" id="top-rated-projects">
    <div id="top-rated-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner bg-dark text-center">
        <h4 class="text-light">Top Rated Projects</h4>
          {% for project in top_rated %}
          <div class="carousel-item  {% if forloop.counter0 == 0 %}active{% endif %}">
            <a class="d-flex justify-content-center " href="{% url 'projects:project_details' project.pk %}">
            <img src="{{project.images.url}}" class="testi-overly d-block w-50 mh-50" alt="sliderImg"></a>
              <div class="carousel-caption d-none d-md-block">
                  <h1 class="fw-light">{{project.title}}</h1>
                  <h5 class="fw-light">{{project.category}} | <span>{{ project.avg_rate }}/5</span></h5>
              </div>
          </div>
          {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#top-rated-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#top-rated-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
  </div>
  <div class="row" id="latest-projects">
    <div id="latest-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner bg-dark text-center">
        <h4 class="text-light">Latest Projects</h4>
          {% for project in top_latest %}
          <div class="carousel-item  {% if forloop.counter0 == 0 %}active{% endif %}">
            <a class="d-flex justify-content-center " href="{% url 'projects:project_details' project.pk %}">
            <img src="{{project.images.url}}" class="testi-overly d-block w-50 mh-50" alt="sliderImg"></a>
              <div class="carousel-caption d-none d-md-block">
                <h1 class="fw-light">{{project.title}}</h1>
                <h5 class="fw-light">{{project.category}} | <span>{{ project.avg_rate }}/5</span></h5>
              </div>
          </div>
          {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#latest-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#latest-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
  </div>
  <div class="row mb-1" id="featured-projects">
    <div id="featured-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner bg-dark text-center">
        <h4 class="text-light">Featured Projects</h4>
          {% for project in top_featured %}
          <div class="carousel-item  {% if forloop.counter0 == 0 %}active{% endif %}">
            <a class="d-flex justify-content-center " href="{% url 'projects:project_details' project.pk %}">
            <img src="{{project.images.url}}" class="testi-overly d-block w-50 mh-50" alt="sliderImg"></a>
              <div class="carousel-caption d-none d-md-block">
                <h1 class="fw-light">{{project.title}}</h1>
                <h5 class="fw-light">{{project.category}} | <span>{{ project.avg_rate }}/5</span></h5>
              </div>
          </div>
          {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#featured-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#featured-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
  </div>
{% endblock %}
      {% comment %} <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
              aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
              aria-label="Slide 5"></button>
      </div> {% endcomment %}