{% extends 'base.html' %}

<!-- page title -->
{% block title %} Comment {% endblock %}

<!-- page nav -->
{% block navbar %} {% include 'navbar.html' %} {% endblock %}

<!-- page content -->
{% block content %}
<div class="d-flex justify-content-center">
  <div class="card my-5 col-4 shadow">
    <div class="card-body">
      <div class="card-title py-3">
        <h5>Leave a comment</h5>
      </div>
      <div>
        <form
          class="form"
          action="{% url 'projects:project_comment' pk=project_pk %}"
          method="post"
          novalidate
        >
          {% csrf_token %}
          <!-- form variable -->
          {% include 'includes/form.html' %}
          <div class="col-12 text-center">
            <input
              type="submit"
              name="sumbit"
              class="my-2 btn btn-primary col-4 p-2"
              value="Comment"
            />
            <h2>Star Rating</h2>
            <div class="form-group">
              <div class="rating-wrapper">
              <input type="radio" class="fa fa-star checked" value="1"\>
              <input type="radio" class="fa fa-star checked"value="2"\>
              <input type="radio" class="fa fa-star checked"value="3"\>
              <input type="radio" class="fa fa-star checked"value="4"\>
              <input type="radio" class="fa fa-star checked"value="5"\>

              </div>
              

            </div>
            <div class="text-center"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<style>
  .checked:checked{
  color: orange;
}
</style>
{% endblock %}