{% extends 'base.html' %}

<!-- page title -->
{% block title %} Projects list {% endblock %}

<!-- page nav -->
{% block navbar %} {% include 'navbar.html' %} {% endblock %}

<!-- page content -->
<div class="container d-flex justify-content-around">
</div>
{% block content %}
  <div class="container-fluid">
      <div class="row">
        {% for project in object_list %}
          {% if not project.target_reached %}
            <div class="card p-1 col-3 shadow">
              <img src="{{ project.images.url }}" />
              <div class="d-flex justify-content-between">
                <h5>{{ project.title }} | {{ project.category }}</h5>
                <div class="dropdown">
                  <a class="link-dark text-decoration-none fw-bolder m-1" href="" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">. . .</a>
                  <ul class="dropdown-menu rounded-3 shadow-lg" aria-labelledby="dropdownMenuButton1">
                    {% if request.user == project.user %}
                      <li><a class="dropdown-item" href="{% url 'projects:project_cancel' project.pk %}">cancel project</a></li>
                    {% else %}
                      <li><a class="dropdown-item" href="{% url 'projects:make_donation' project.pk %}">Donate</a></li>
                      <li><a class="dropdown-item" href="{% url 'accounts:profile' project.user.pk %}">Owner profile</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Report</a></li>
                    {% endif %}
                  </ul>
                </div>
              </div>
              <div>
                {% for tag in project.tags.all %}
                <button
                type="button"
                class="btn btn-outline-primary btn-sm"
                  disabled
                  >
                  {{ tag }}
                </button>
                {% endfor %}
              </div>
              <hp>{{ project.get_details }}... <a class="link-dark" href="{% url 'projects:project_details' project.pk %}">see more</a></hp>
            </div>
          {% endif %}
        {% empty %}
          <li>No projects yet.</li>
        {% endfor %}
      </div>
  </div>
{% endblock %}
