{% extends 'base.html' %}

<!-- page title -->
{% block title %} Projects list {% endblock %}

<!-- page nav -->
{% block navbar %} {% include 'navbar.html' %} {% endblock %}

<!-- page content -->
{% block content %}
<div class="container-fluid d-flex justify-content-around">
  {% for project in object_list %}
    <div class="card m-1 p-1 col-3 shadow">
      <img src="{{ project.images.url }}" />
      <div class="d-flex justify-content-between">
        <h5>{{ project.title }} | {{ project.category }}</h5>
        <div class="dropdown">
          <a class="link-dark text-decoration-none fw-bolder m-1" href="" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">. . .</a>
          <ul class="dropdown-menu rounded-3 shadow-lg" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{% url 'projects:make_donation' project.pk %}">Donate</a></li>
            {% comment %} <li><a class="dropdown-item" href="{% url 'projects:project_comment' project.pk %}">Leave a comment</a></li> {% endcomment %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Report</a></li>
          </ul>
        </div>
      </div>
      <div>
        {% for tag in project.tags.all %}
        <button
        type="button"
        class="btn btn-outline-primary btn-sm"
          disabled
          >
          {{ tag }}
        </button>
        {% endfor %}
      </div>
      <hp>{{ project.get_details }}... <a class="link-dark" href="{% url 'projects:project_details' project.pk %}">see more</a></hp>
    </div>
  {% empty %}
  <li>No projects yet.</li>
  {% endfor %}
</div>
{% endblock %}
