{% extends 'base.html' %}

<!-- page title -->
{% block title %} Add Project {% endblock %}

<!-- page nav -->
{% block navbar %} {% include 'navbar.html' %} {% endblock %}

<!-- page content -->
{% block content %}
<div class="d-flex justify-content-center">
  <div class="card my-5 col-5 shadow">
    <div class="card-body">
      <div class="card-title py-3">
        <h1>Rate This Project</h1>
      </div>
      <div>
        <form
          class="form"
          action="{% url 'projects:project_rate' project.pk %}"
          method="post"
          novalidate
        >
          {% csrf_token %}

          <!-- form variable -->

           {% include 'includes/form.html' %} 
           
            <input
              type="submit"
              name="sumbit"
              class="my-2 btn btn-success col-4 p-2"
              value="Rate"
            />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
